@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
    
}

body, ul {
    margin: 0;
    padding: 0;
  }
  
/*HEADER*/

header {
    background-image: linear-gradient(to right, #344e41, #588157, #dad7cd); 
    padding: 20px;
    font-family: 'Tektur', cursive;
  }

.header-container {
    display: flex;
    align-items: center;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    background-image: url(/images/Headshot.jpg);
    border-radius: 50%;
    margin-right: 20px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
  }

  .header-content h1 {
    font-family: 'Tektur', cursive;
    font-weight: bold;
  }

  .typed-text {
    font-family: 'Tektur', cursive;
    font-weight: bold;
  }

  /* Typing Effect Styles */
  .typing-effect {
    display: inline-block;
    position: relative;
    transform: translateY(-25px);
    font-family: 'Tektur', cursive;
  }

  .cursor {
    display: inline-block;
    width: 2px;
    height: 24px;
    background-color: #333;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

  #about {
    width: 95%;
    margin: auto;
  }

  #about h2, h3 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

   hr {
    background: linear-gradient(to right, #344e41, #588157, #dad7cd);
    height: 5px;
    width: 120px;
    margin:auto;
    border: 0px;
  }

  /*NAVBAR*/

  nav {
    background-color: #333;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Responsive styles using media queries */
  @media screen and (max-width: 768px) {
    /* For smaller screens, stack the navigation links vertically */
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }

  /*TESTIMONIAL*/

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

.container {
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.underline {
    height: 5px;
    border: 0;
    background-image: linear-gradient(to right, #344e41, #588157, #dad7cd);
    width: 15%;
    margin: 0 auto;
    transform: translate(0px, -20px);
}

.review {
    width: 49%;
    margin: 0 auto;
    border-radius: 50px;
    background: #e0e0e0;
    padding: 25px;
    box-shadow:  20px 20px 60px #bebebe,  -20px -20px 60px #ffffff;
}

.img-container {
    overflow: hidden;
    object-fit: cover;
    width: 7rem;
    height: 7rem;
    border: 4px solid #588157;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

img {
    height: 135px;
    width: 300px;
}

#job {
    text-transform: uppercase;
    color: #a3b18a;
}

#btn {
--border-color: linear-gradient(-45deg, #344e41, #588157, #dad7cd);
--border-width: .125em;
--curve-size: .5em;
--blur: 30px;
--bg: #080312;
--color: #afffff;
color: var(--color);
  /* use position: relative; so that BG is only for .btn */
position: relative;
isolation: isolate;
display: inline-grid;
place-content: center;
padding: .5em 1.5em;
font-size: 17px;
border: 0;
text-transform: uppercase;
box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
clip-path: polygon(
          /* Top-left */
          0% var(--curve-size),

          var(--curve-size) 0,
          /* top-right */
          100% 0,
          100% calc(100% - var(--curve-size)),

          /* bottom-right 1 */
          calc(100% - var(--curve-size)) 100%,
          /* bottom-right 2 */
          0 100%);
transition: color 250ms;
}

#btn::after,
#btn::before {
content: '';
position: absolute;
inset: 0;
}

#btn::before {
background: var(--border-color);
background-size: 300% 300%;
animation: move-bg7234 5s ease infinite;
z-index: -2;
}

@keyframes move-bg7234 {
0% {
  background-position: 31% 0%
}

50% {
  background-position: 70% 100%
}

100% {
  background-position: 31% 0%
}
}

#btn::after {
background: var(--bg);
z-index: -1;
clip-path: polygon(
          /* Top-left */
          var(--border-width) 
          calc(var(--curve-size) + var(--border-width) * .5),

          calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

          /* top-right */
          calc(100% - var(--border-width)) 
          var(--border-width),

          calc(100% - var(--border-width)) 
          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

          /* bottom-right 1 */
          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
          /* bottom-right 2 */
          var(--border-width) calc(100% - var(--border-width)));
transition: clip-path 500ms;
}

#btn:where(:hover, :focus)::after {
clip-path: polygon(
              /* Top-left */
              calc(100% - var(--border-width)) 

              calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
  
              calc(100% - var(--border-width))

              var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width))

               var(--border-width),
  
              calc(100% - var(--border-width)) 

              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
              calc(100% - var(--border-width)),

              /* bottom-right 2 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
              calc(100% - var(--border-width)));
transition: 200ms;
}

#btn:where(:hover, :focus) {
color: #fff;
}

#projects .carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the items */
}

/* Set a width for the carousel container */
#projects .carousel {
  width: 80%; /* Adjust the width as needed */
}

#projects .carousel iframe {
  display: block; /* Make the iframe a block-level element */
  margin: 0 auto; /* Center the iframe horizontally */
}

.carousel-nav button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
  }
  .carousel-nav button:hover {
    background-color: #80ed99;
  }
  .carousel-nav button:active {
    top: 2px;
  }

 /* Certifications Section */
 #certifications {
  display: flex;
  justify-content: center;
}

/* Certifications container (grid) */
.certifications-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Adjust the gap between items as needed */
  width: 80%; /* Adjust the width as needed */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .certifications-container {
    grid-template-columns: 1fr; /* Display as a single column in mobile view */
  }
}

/* Certification item styles */
.certification-item {
  text-align: center;
}

.certification-item img {
  width: 100%; /* Ensure the image takes up the full column width */
  max-width: 100%;
  height: auto;
}


footer {
  background-image: linear-gradient(to right, #344e41, #588157, #dad7cd);
  padding: 20px;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-bottom: 20px;
}

.social-links a {
  margin-right: 10px;
}

p {
  margin: 5px;
}

.return-top-btn {
  background-color: #fff;
  color: #344e41;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
.style-bar {
    background-color: #333;
    height: 20px;
    margin-top: 25px;
  }

  /* Contact Section */
#contact {
  background-color: #f5f5f5;
  padding: 50px 0;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item {
  margin: 0 20px;
}

.contact-item i {
  font-size: 24px;
  margin-right: 10px;
}

.contact-item a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.social-links {
  margin-top: 30px;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 50%;
}
